# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/
env/

# Ignore database files
db.sqlite3

# Ignore Django secret key
*.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore static files generated during deployment
staticfiles/
media/
